html{
	margin:0;
	padding:0;
	height: 100%;
	width:100%;
}
body {
	line-height: 1.5em;
	font-family: Helvetica;
	margin:0;
	padding:0;
	min-height: 100%;
	width: 100%;
	height: 100%;
}

li {
	list-style-type: none;
	font-size: 14px;
	padding: 5px 5px 5px 10px;
	border-bottom: 1px solid #ccc;
}

.binder {
	background-color: #6f6f6f;
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}
header {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#AAB8C9), to(#6E84A2), color-stop(.5,#6E84A2));
	background: -moz-linear-gradient(0% 65% 90deg,#6E84A2, #AAB8C9, #AAB8C9 100%);
	font-size: 14px;
	width: 100%;
	height: 50px;
	padding: 0 10px;
	z-index:999;
	-webkit-transition:margin-left 0.4s ease-in-out;
	-moz-transition:margin-left 0.4s ease-in-out;
	-o-transition:margin-left 0.4s ease-in-out;
	-ms-transition:margin-left 0.4s ease-in-out;	
	transition:margin-left 0.4s ease-in-out;
}

header h3 {
	color: #fff;
	text-shadow: 0px 1px 0px #000;
	text-align: center;
	white-space: nowrap;
	margin: 0 auto;
	padding: 0;
	text-align:center;
	width: 230px;
	position:relative;
	left: 0px;
	top: -30px;
}

.block {
	padding: 0;
	margin: 0;
    background: white; 
	float: left;
	height: 100%;
	width: 100%;
	position: absolute;
	cursor: pointer;
}
.slider {
	padding:0;
	margin-left: -100%;
	-webkit-transition:margin-left 0.4s ease-in-out;
	-moz-transition:margin-left 0.4s ease-in-out;
	-o-transition:margin-left 0.4s ease-in-out;
	-ms-transition:margin-left 0.4s ease-in-out;	
	transition:margin-left 0.4s ease-in-out;
}
	
#menu-page{
	background-color: #4f4f4f;
}
.navBar{
	margin-left: 100px;
}
.navBar li:hover {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4185F4), to(#194FDB), color-stop(.6,#194FDB));
	background: -moz-linear-gradient(0% 65% 90deg,#194FDB, #4185F4, #4185f4 100%);
	cursor: pointer;
}
.navBar li:hover a.has-child {
	background: url('images/arrow-hover.png') center right no-repeat;
}
.navBar li a,  
.navBar li a:visited,  
.navBar li a:hover{
	text-decoration: none;
	display: block;
	width: 100%;
	color: white;
}
.has-child {
	background: url('images/arrow.png') center right no-repeat;
}
.has-child:hover {
	background: url('images/arrow-hover.png') center right no-repeat;
}
.menuPic {
	margin:0;
	padding: 0.5em 0.5em 0.5em 0.2em;
	border: 1px solid #2e363f;
	background: url('images/icon-menu.png') bottom left no-repeat;
	position: relative;
    top: 10px;
	display: block;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.back {
	top: 5px;
	margin:0;
	padding: 0.2em 0.5em 0.5em 0.2em;
    border: 1px solid #2e363f;
    position: relative;
    top: 10px;
    -moz-border-image: url(images/back-button.png) 2 5 2 13 / 2px 5px 2px 13px; /* Gecko */
    -webkit-border-image: url(images/back-button.png) 2 5 2 13 / 2px 5px 2px 13px; /* Webkit */
    color: white;
    width: 30px;
    height: 15px;
    text-decoration: none;
    text-shadow: 0 -1px 0 black;
}
